:root {
    --tile-width: 25px;
    --tile-height: 25px;
}

* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    background-color: #000000;
    color: #ffffff;
}

h1 {
    font-family: "Playfair Display";
    font-size: 30px;
    padding: 10px 0px;
    margin: 0px;
}

.field-box {
    border: 2px solid #d0d0d0;
    float: left;
}

.field {
    position: relative;
    width: calc(40 * var(--tile-width));
    height: calc(24 * var(--tile-height));
}

.field .tile {
    position: absolute;
    width: var(--tile-width);
    height: var(--tile-height);
    background-size: 100%;
    background-image: url(images/tile-.png);
    z-index: 5;
}

.field .tileW {
    background-image: url(images/tile-W.png);
}

/* Animation */
.field .tileE,
.field .tileP {
    transition: left 0.3s ease, top 0.3s ease;
    will-change: left, top;
}

.field .hit {
    filter: sepia(1) saturate(10) hue-rotate(-20deg);
}

.field .tileE {
    background-image: url(images/tile-E.png);
    z-index: 10;
}

.field .tileP {
    background-image: url(images/tile-P.png);
    z-index: 10;
}

.field .tileHP {
    background-image: url(images/tile-HP.png);
    z-index: 9;
}

.field .tileSW {
    background-image: url(images/tile-SW.png);
    z-index: 9;
}

.field .tile .health {
    background-color: #ff0000;
    z-index: 11;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 3px;
}

.field .tileP .health {
    background-color: #00ff00;
    z-index: 11;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 3px;
}

.inventory-box {
    border: 2px solid #d0d0d0;
    float: left;
}

.inventory {
    position: relative;
    width: 800px;
    height: 32px;
}

.cl {
    clear: both;
    display: block;
}

.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.modal-content {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 0 20px black;
}